body {
    background-image: url(image/casinocoins.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.images {
    margin-bottom: 20px;
}
 img {
    width: 100px;
    height: 100px;
 }

.global {
    text-align: center;
    color: #2D6761;
    background-color:rgba(206, 193, 193, 0.7);
    
    font-family: 'Graduate', cursive;
    padding-bottom: 25px;

}

.score {
    color: #2D6761;
    background-color:rgba(206, 193, 193, 0.7);
}

table {
    margin: auto;
    border-collapse: collapse;
}
td {
    border: 1px solid;
}
h1 {
    font-size: 45px;
}

h3 {
    font-size: large;
}

ul {
    padding-bottom: 20px;
    margin-right: 35px;
    margin-left: 35px;
    font-family: 'Graduate', cursive;
}

li.gagner {
    color:green;
    list-style-type: none;
}

li.perdue {
    color:darkred;
    list-style-type: none;
}



h4  {
text-align: center;
}

button {
    margin-top:20px;
    color:white;
    border: none;
    width: 110px;
    height: 35px;
    background-color: black;
    box-shadow: 0 9px #999;
    border-radius: 10px;
    outline: none;
    font-family: 'Graduate', cursive;
}
button:active {
    box-shadow: 0 0px #999;
    transform: translateY(9px);
}

button:hover {
    background-color:#413c3c;
}
